
.navItem {
    background-color: rgb(125,125,125);

}
button:hover {
    cursor: pointer;
}
.bodyItemIndex {
    background-image:url("../images/sanAntonio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.bodyItemPortfolio {
    background-image:url("../images/computer_wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.bodyItemContact {
    background-image:url("../images/office.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.navName {
    padding-left: 10px;
    font-weight: 200;
    font-size: 40px;
}
.navButton {
    padding-right: 10px;
    padding-left: 10px;
}

.container-bg {
    padding-top: 20px;
}

.introText {
    font-size: 20px;
}

.nameItem {
	display: inline;
	position: relative;
	font: 50px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5); 
}

.nameItem:after {
	content: "Full Stack Developer Student";
	position: absolute; left: 10px; top: 5px;
	color: rgba(255,0,0,0.5);   
}

.nameItem {
    /* background-color: whitesmoke; */
    /* filter: opacity(70%); */
    font-weight: 600;
    line-height: 1.2;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.nameItemPortfolio {
    font-family: 'Permanent Marker', cursive;
}

.nameItemContact {
    font-family: 'Permanent Marker', cursive;
}


.containerItem {
    background-color: whitesmoke;
    filter: opacity(70%);
}

.div-padding {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.inputContainer {
    margin: auto;
}
.linkedin {   
    background: #0e76a8;   
    color: white;
    size: 60px;
    width: 50px;
    }  
.footerItem {
    background-color:rgb(128,128,128);
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
